@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.accounts {
  & .accounts__card {
    @include content-card;

    & .accounts__card-title {
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 600;
    }
    & .accounts__card-content {
      padding-top: 20px;
    }
  }
}
