@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.home {
  & .home__card {
    @include content-card;

    & .home__card-title {
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 100;
      color: $theme-dark-gray;
      text-align: right;
    }
    & .home__card-content {
      padding-top: 20px;

      & .home__card-sum {
        font-size: 1.8rem;
        font-weight: 100;
        & .home__card-sum-currency {
          float: right;
        }
      }
    }
  }
}
