@import "~assets/scss/variables";

.header__user {
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  order: 2;

  &-avatar {
    svg {
      width: 100%;
      height: 100%;
      fill: #999;
    }
  }
}

.header__button-container {
  display: block;
  order: 1;

  & .header__button {
    color: $theme-dark-gray;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $theme-blue;
    }
  }
}
