@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.accounts {
  &__stats {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include content-card;

    margin-bottom: 30px;

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;

      flex: 1;

      & + & {
        border-left: 1px solid $theme-dark-gray;
      }

      &-label {
        font-weight: 600;
      }

      &-count {
        text-align: center;
      }
    }
  }
}
