@import "~assets/scss/variables";
@import "~assets/scss/mixins";

.sidebar {
  position: fixed;
  width: 260px;
  height: 100vh;
  overflow: hidden;
  background-color: $theme-white;
  margin-left: 0;
  box-shadow: 0 1px 4px 0 rgba(39, 36, 38, 0.14);
  @include transition(margin-left);

  &__brand {
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 20px 0 15px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid rgba($theme-black, 0.1);
    background-color: $primary-purple;
  }

  @include lg-screen-down {
    width: 60px;

    &__brand {
      span {
        display: none;
      }
      padding: 0;
      margin: 0;
    }
  }

  & .sidebar_collapsed {
    margin-left: -260px;
  }

  & .sidebar__item {
    color: $theme-black;
    font-size: 1.2rem;
    &:hover {
      color: $theme-blue;
    }
  }
}
