@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/mixins";

.accounts__card {
  @include content-card;
  border: 2px solid $white;
  transition: ease-in-out 150ms;

  &:hover {
    cursor: pointer;
    border: 2px solid $primary-purple;
    transform: scale(1.05);
    box-shadow: 0 9px 20px -6px rgba($theme-black, 0.3);
  }

  &-row {
    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  &-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
  }

  &-value {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    white-space: nowrap;
  }

  &-currency {
    font-size: 1.2rem;
    font-weight: 100;
    color: $theme-dark-gray;
    margin-left: 8px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &-status {
    display: flex;
    align-items: center;
    justify-content: start;
    color: $theme-dark-gray-2;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 4px;

    &__icon {
      margin-right: 4px;
    }

    svg {
      display: block;
      width: 0.8rem;
      height: 0.8rem;
    }

    &--active {
      svg {
        fill: $theme-light-green;
      }
    }

    &--closed {
      svg {
        fill: $theme-red;
      }
    }

    &--blocked {
      svg {
        fill: $theme-dark-gray;
      }
    }
  }

  &-content {
    padding-top: 20px;
  }
}
